@page
@model WebServerRazor.Pages.Potions.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Potions</h1>
    <p>List of potions:</p>
    <ul>
        @foreach (var potion in Model.Potions)
        {
            <li>@potion.Id - @potion.Name - @potion.Price</li>
        }
    </ul>

    <h2>Add a new potion</h2>
    <form method="post" asp-page-handler="Add">
        <input type="text" name="name" placeholder="Potion Name" required />
        <input type="number" name="price" placeholder="0" required />
        <button type="submit">Add Potion</button>
    </form>
    
    <br/>
    
    <p>The routing goes as follows:</p>
    <p>1. Take the input from the form</p>
    <p>2. Convert the input to a Potion object</p>
    <p>3. Serialize the Potion object</p>
    <p>4. Send a POST request to the API</p>
    <br/>
    <p>5. ASP.NET Core automatically deserializes it into a `Potion` object because of [FromBody] on the endpoint</p>
    <p>6. The now deserialized Potion object is sent to the data access layer where it is added to the database</p>
    
    
    <h2>Delete a potion by ID</h2>
    <form method="post" asp-page-handler="Delete">
        <input type="number" name="id" placeholder="Potion ID" required />
        <button type="submit">Delete Potion</button>
    </form>
    
</div>
</body>
</html>