@model List<Models.Model.Potion>

@{
    ViewData["Title"] = "Potions";
}

<div class="text-center">
    <h1 class="display-4">Potions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var potion in Model)
            {
                <tr>
                    <td>@potion.Name</td>
                    <td>@potion.Id</td>
                    <td>@potion.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
